h1 {
  width: 80%;
  font-family: , Times New Roman, "Iowan Old Style", serif;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: .01em;
  word-spacing: -.03em;
  color: #BE1C21;
}
h2 {
  display: inline-block;
  padding-top: .1em;
  padding-bottom: .1em;
  padding-left: .75em;
  padding-right: .75em;
  width: 300px;
  font-family: , Times New Roman, "Iowan Old Style", serif;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: .01em;
  word-spacing: -.03em;
  color: #864E38;
}
h2 {
  margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0px;
margin-right: 0px;
}
body {
  background-color: #EADDD2;
  color:864E38;
  margin: 0 auto;
}
body {
  display: block;
}

#ingredients {
  background: #864E38;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: .01em;
  word-spacing: -.03em;
  color: #EADDD2;
  border-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .25em;
  padding-bottom: .25em;
}

#directions {
  background: #864E38;
  background: #864E38;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: .01em;
  word-spacing: -.03em;
  color: #EADDD2;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .25em;
  padding-bottom: .25em;

}

#ingredients ul {
  list-style-type: disc;
  margin-left: 1em;
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0px;
}

#ingredients li {
  line height: 1.5;
  margin-top: .5em;
}

#introduction {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: .01em;
  word-spacing: -.03em;
  color: #864E38;
  background-color: #E0BACA;
}
a:hover,
a:focus {
  color: #864E38;
}

nav li{
  display: inline;
}
li {
  display: list-item;
}
nav {
  margin-top: .5em;
}
nav a{
  display: inline-block;
  text-decoration: none;
  background: #E0BACA;
  padding: 1em;
  border: 1px solid #864E38;
  border-radius: .3em;
}
a {
  color: #864E38;
  font-family: "Avenir", sans-serif;
  cursor: pointer;
}
nav a:hover,
nav a:focus {
  background-color: #864E38;
}
/*  -- layout for wider width screens--*/
  /*  breakout */
 @media (min-width: 60em) {
main {
  border: 1px dashed #864E38;
  /* overflow: hidden;  clear-ing method*/

figure {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 40px;
    margin-bottom: 40px;
}
